{% include base_path %}

<!-- Academic Pages icon support -->
<link rel="preload" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"></noscript>
<link rel="preload" href="{{ base_path }}/assets/css/fontawesome.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}/assets/css/fontawesome.css"></noscript>

<style>
  .author__avatar img {
    width: 175px;
    height: 175px;
    max-width: none;
    object-fit: cover;
    border-radius: 50%;
  }
</style>

